@use'./_variables' as *;
#show-page{
    .available{
        color: green;
    }
    .not-available{
        color: $mainred;
    }
    .bg-show{
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: $lightblue;
    border-radius: 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
}
